<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form method="POST">
    <h1>Create</h1>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Salvar</button>
    <a href="{% url 'list' %}">Voltar</a>
</form>

</body>
</html>