<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deletar</title>
</head>
<body>
<h1>Realmente desejar deletar {{ pessoa.nome }}</h1>
<form method="post">
    {% csrf_token %}
    <button>Sim</button>
    <a href="{% url 'list' %}">Não</a>
</form>

</body>
</html>