<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
</head>
<body>
<table border="1" bgcolor="grey">
    <thead>
    <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
    </tr>
    </thead>
    <tbody>
    {% for pessoa in pessoa %}

    <tr>
        <td>{{pessoa.id}}</td>
        <td><a href="{% url 'update' pessoa.id %}">{{pessoa.nome}}</a></td>
        <td>{{pessoa.sobrenome}}</td>
        <td>{{pessoa.idade}}</td>

    </tr>
    <tr>
        <td><a href="{% url 'update' pessoa.id %}">{{pessoa.nome}}</a></td>
        <td><a href="{% url 'delete' pessoa.id %}">Deletar</a></td>
        <td><a href="{% url 'create' %}">Criar usuário</a> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<th></th>
<button>ME CLICA POR FAVOR</button>
</body>
</html>