<!DOCTYPE html>
<html lang="pb-br">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form method="post">
    <h1>Atualizar Dados</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button>Salvar</button>
    <a href="{% url 'list' %}">Voltar</a>
</form>

</body>
</html>